@mixin flex($d) {
  display: flex;
  flex-direction: $d;
}

@mixin btn {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: $brandClr;
  background-color: white;
  border-radius: 4px;
  height: 80px;
  @include flex(row);
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $brandClr;
    color: white;
  }
}
