.most-popular {
  padding: 25px;
  position: relative;
  @include headAndDes;
  .btn-left {
    @include btn;
    transform: translateY(0%);
    left: 0%;
    border: 1px solid rgba($color: $darkClr, $alpha: 0.2);
  }
  .btn-right {
    @include btn;
    right: 0%;
    border: 1px solid rgba($color: $darkClr, $alpha: 0.2);
    transform: translateY(0%);
  }
  .box-wrapper {
    margin-top: 20px;
    background: white;
    padding: 20px;
    padding-top: 28px;
    border-radius: 7px;
    .categories {
      @include flex(row);
      gap: 1.5em;
      .category {
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        border: 1px solid rgba($color: $darkClr, $alpha: 0.5);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          border: 2px solid $brandClr;
          color: $brandClr;
        }
      }
      .active {
        border: 2px solid $brandClr;
        color: $brandClr;
      }
    }
    .inner-box-wrapper {
      padding-top: 25px;
      @include flex(row);
      position: relative;
      @include productItem;
    }
  }
}
