.popular {
  padding: 25px;
  padding-top: 34px;
  @include headAndDes;
  .popular-boxes {
    padding-top: 40px;
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    .box {
      width: 310px;
      height: 190px;
      position: relative;
      padding: 20px;
      @include flex(column);
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;

      .layer {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.2);
        border-radius: 5px;
        z-index: 1;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
      h3 {
        font-weight: 600;
        color: $darkClr2;
      }
      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 5px;
      }
    }
  }
}
