@import "color";
@import "fonts";
@import "mixin";
@import "header";
@import "banner";
@import "owlStage";
@import "popular";
@import "mostPopular";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  overflow-x: hidden;
  background-color: $lightSilver;
}
