@import "color";
@import "fonts";
@import "mixin";
@import "loader";
@import "header";
@import "banner";
@import "owlStage";
@import "popular";
@import "mostPopular";
@import "weekSpecial";
@import "ad";
@import "specialOffers";
@import "brands";
@import "recipes";
@import "email";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  overflow-x: hidden;
  background-color: $lightSilver;
}
